#Player {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .back-btn {
    background-color: #f44336;
    color: white;
    border: none;
    /* padding: 10px 20px; */
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    /* font-size: 16px; */
    /* margin-top: 20px; */
    cursor: pointer;
    border-radius: 5px;
  }
  

  .player-wrapper {
    flex: 0 0 60%;
    cursor: pointer;
    margin-right: 20px;
  }

  .program-list {
    flex: 0 0 35%;
    /* Adjust program list width */
    overflow-y: auto;
    max-width: 480px;
    max-height: 400px;
    padding: 10px;
    cursor: all-scroll;
  }

  .dark-mode .program-list {
    background-color: var(--body-bg-dark);
  }

  .selected-stream-info img,
  .program-icon {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }

    .player-wrapper,
    .program-list {
      flex: 1 1 100%; /* Full width on mobile */
      max-width: none;
      margin-right: 0;
      margin-bottom: 20px;
    }

    .selected-stream-info img,
    .program-icon {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%; /* Adjusted size for mobile */
    }

    .player-wrapper {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  /* Program list */
  .scrollable-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
  }

  .program-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .program-details {
    display: flex;
    align-items: center;
  }

  .program-info {
    flex: 1;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
