/* ThemeToggle.css */
.toggle-wrapper {
  display: flex;
  align-items: center; /* Align items vertically */
}

.toggle-container {
  display: flex;
  align-items: center; /* Align items vertically */
  margin-right: 10px; /* Adjust spacing between toggle elements */
}

/* Toggle container */
/* .toggle-container {
  display: inline-block;
} */

/* Hide default checkbox */
.toggle-checkbox {
  display: none;
}

/* Toggle label (Slider appearance) */
.toggle-label {
  display: block;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #808183;
  position: relative;
  cursor: pointer;
  margin-right: 0.5rem;
}

/* Slider appearance */
.toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Dark mode specific styles */
.toggle-container.dark .toggle-label {
  background-color: #343a40; /* Darker background in dark mode */
}

.toggle-container.dark .toggle-label:after {
  background-color: #f8b400; /* Orange accent for the ball in dark mode */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Checked state for slider */
.toggle-checkbox:checked + .toggle-label:after {
  transform: translateX(30px);
}

/* Dark mode specific styles */
.toggle-container.dark .toggle-label {
  background-color: #4a4a4a; /* Darker background in dark mode */
}

.toggle-container.dark .toggle-label:after {
  background-color: #ffcc00; /* Yellow accent for the ball in dark mode */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}